@charset "UTF-8";
/* CSS Document */

body {
  	background-image: url('images/oldpaper2.jpg');
}

#volume {
	font-size: 20px;
}

.grid-container {
  	display: grid;
  	grid-template-columns: repeat(6, minmax(200px, 1fr));
  	grid-auto-rows: minmax(50px, auto);
  	grid-gap: 10px;
  	justify-content: center;
  	align-content: center;
	margin: 20px auto;
	max-width: 1500px;
}

/* top left AD */
.grid-item-1 {
  	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 3;
}
.grid-item-1 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/TopCornerAd.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-1 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* MAIN HEADER*/
.grid-item-2 {
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
}
/* Go Back*/
.grid-item-3a {
  	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.grid-item-3a button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/goBackButton.png');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-3a button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* DATE*/
.grid-item-3 {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
  	justify-content: center;
  	align-items: center;
}
/* Go Forward*/
.grid-item-3b {
  	grid-column-start: 5;
  	grid-column-end: 6;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.grid-item-3b button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/goForwardButton.png');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-3b button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* Weather*/
.grid-item-4{
  	grid-column-start: 6;
  	grid-column-end: 7;
  	grid-row-start: 1;
  	grid-row-end: 2;
}
.grid-item-4 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/weather0914.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-4 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*KAWL*/
.grid-item-5 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-item-5 button {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('images/KAWL LOGO.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-5 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

.audio-player {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee;
  padding: 5px;
}

/* News on Nav bar*/
.grid-item-6 {
  	grid-column-start: 1;
  	grid-column-end: 7;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-6 button {
	display: block;
  	width: 100%;
 	height: 100%; /* set a height */
  	background-image: url('images/Home Button.jpg');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
}

.grid-item-6 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* LISTEN TO TRAIL OF THE SHAPESHIFTER */
.grid-item-12 {
  	grid-column-start: 1;
  	grid-column-end: 3;
  	grid-row-start: 4;
  	grid-row-end: 5;
}
.grid-item-12 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/ttssAudioBook.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-12 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* LISTEN TO DESCENT INTO DARKNESS */
.grid-item-13 {
	border: 2px solid black;
	font-size: 20px;
	background-color: darkorange;
	color: darkslategray;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
}
/* LISTEN TO THE BLACK GATE */
.grid-item-14 {
	border: 2px solid black;
	font-size: 20px;
	background-color: black;
	color: white;
	text-align: center;
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 5;
}
/* Page ID */
.grid-item-14a {
	text-align: center;
	font-size: 50px;
	color: white;
	background-color:black;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 5;
	grid-row-end: 6;
}

/* HEADLINE IMAGE */
.grid-item-15 {
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 6;
	grid-row-end: 12;
}
/* HEADLINE */
.grid-item-16 {
	font-size: 50px;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 13;
	grid-row-end: 15;
}
/* HEADLINE IMAGE DESCRIPTION */
.grid-item-16a{
	border: 2px solid black;
	font-size: 22px;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 12;
	grid-row-end: 13;
}
/* HEADLINE Story */
.grid-item-16b {
	text-align: start;
	overflow: hidden;
	font-size: 25px;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 15;
	grid-row-end: 20;
}
/*Banner Ad1 */
.banner-container17 {
  	width: 100%;
  	height: 100%;
  	background-image: url(images/banner01_thunderpeak.jpg);
  	background-size: cover;
  	background-position: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 20;
	grid-row-end: 22;
}
/*HEADLINE STORY Cont.*/
.grid-item-18 {	
	text-align: start;
	overflow: hidden;
	font-size: 25px;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 23;
	grid-row-end: 29;
}

.footer {
	display: grid;
	border: 2px solid black;
	background-color: black;
	color: white;
  	grid-template-columns: repeat(4, minmax(200px, 1fr));
  	grid-auto-rows: minmax(50px, auto);
  	grid-gap: 30px;
  	justify-content: center;
  	align-content: center;
	margin: 0px auto;
	max-width: 1500px;
}
/*News Item*/
.footer-item-1 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
/*Opinion Item*/
.footer-item-2 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
/*MONARCH DISPATCH FOOTER HEADER*/
.footer-item-3 {
	font-size: 20px;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
/*Sports Item*/
.footer-item-4 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
/*Weather Item*/
.footer-item-5 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
/*ADDRESS and WEB FOR MONARCH DISPATCH*/
.footer-item-6 {
	font-size: 20px;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
/*Obituaries Item*/
.footer-item-7 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}
/*Classifieds Item*/
.footer-item-8 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}
/*PLACE AN AD Item*/
.footer-item-9 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
/*SUBMIT NEWS Item*/
.footer-item-10 {
	border: 5px solid white;
	font-size: 20px;
	text-align: center;
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}