@charset "UTF-8";
/* CSS Document */

body {
  	background-image: url('images/oldpaper2.jpg');
}

#volume {
	font-size: 20px;
}

p {
	line-height: 1.5;
}

.grid-container {
  	display: grid;
  	grid-template-columns: repeat(6, minmax(200px, 1fr));
  	grid-auto-rows: minmax(50px, auto);
  	grid-gap: 10px;
  	justify-content: center;
  	align-content: center;
	margin: 20px auto;
	max-width: 1500px;
}

/* top left AD */
.grid-item-1 {
  	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 1;
  	grid-row-end: 3;
}
.grid-item-1 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/TopCornerAd.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-1 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* MAIN HEADER*/
.grid-item-2 {
	text-align: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 2;
}
/* Go Back*/
.grid-item-3a {
  	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.grid-item-3a button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/goBackButton.png');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-3a button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* DATE*/
.grid-item-3 {
	font-size: 30px;
	text-align: center;
	padding: 10px;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
  	justify-content: center;
  	align-items: center;
}
/* Go Forward*/
.grid-item-3b {
  	grid-column-start: 5;
  	grid-column-end: 6;
  	grid-row-start: 2;
  	grid-row-end: 3;
}
.grid-item-3b button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/goForwardButton.png');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-3b button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* Weather*/
.grid-item-4{
  	grid-column-start: 6;
  	grid-column-end: 7;
  	grid-row-start: 1;
  	grid-row-end: 2;
}
.grid-item-4 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/0914_day.png');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-4 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*KAWL*/
.grid-item-5 {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid-item-5 button {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url('images/KAWL LOGO.jpg');
  background-size: cover;
  background-position: center center;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-5 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* News on Nav bar*/
.grid-item-6 {
  	grid-column-start: 1;
  	grid-column-end: 2;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-6 button {
	display: block;
  	width: 100%;
 	height: 100%; /* set a height */
  	background-image: url('images/newsNavButton.png');
  	background-size: cover;
	background-position: center center;
	cursor: pointer;
}

.grid-item-6 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* Weather on Nav bar */
.grid-item-7 {
  	grid-column-start: 2;
  	grid-column-end: 3;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-7 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/weatherNavButton.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-7 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* Explore Monarch on Nav bar */
.grid-item-8 {
  	grid-column-start: 3;
  	grid-column-end: 4;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-8 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/exNavButton.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-8 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* Meet the Characters on Nav bar */
.grid-item-9 {
  	grid-column-start: 4;
  	grid-column-end: 5;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-9 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/meetNavButton.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-9 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* MAPS on Nav bar */
.grid-item-10 {
  	grid-column-start: 5;
  	grid-column-end: 6;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-10 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/mapsNavButton.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-10 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* Trailers on Nav bar */
.grid-item-11 {
  	grid-column-start: 6;
  	grid-column-end: 7;
  	grid-row-start: 3;
  	grid-row-end: 4;
}
.grid-item-11 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/trailersNavButton.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-11 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* LISTEN TO TRAIL OF THE SHAPESHIFTER */
.grid-item-12 {
  	grid-column-start: 1;
  	grid-column-end: 3;
  	grid-row-start: 4;
  	grid-row-end: 5;
}
.grid-item-12 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/ttssAudioBook.png');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-12 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* LISTEN TO DESCENT INTO DARKNESS */
.grid-item-13 {
	border: 2px solid black;
	font-size: 20px;
	background-color: darkorange;
	color: darkslategray;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 4;
	grid-row-end: 5;
}
/* LISTEN TO THE BLACK GATE */
.grid-item-14 {
	border: 2px solid black;
	font-size: 20px;
	background-color: black;
	color: white;
	text-align: center;
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 4;
	grid-row-end: 5;
}
/* HEADLINE IMAGE */
.grid-item-15 {
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 12;
}
/* HEADLINE */
.grid-item-16 {
	font-size: 50px;
	text-align: center;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 5;
	grid-row-end: 7;
}
/* HEADLINE IMAGE DESCRIPTION */
.grid-item-16a{
	border: 2px solid black;
	font-size: 18px;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 12;
	grid-row-end: 13;
}
/* HEADLINE Story */
.grid-item-16b {
    text-align: start;
	overflow: hidden;
	grid-column-start: 4;
	grid-column-end: 7;
	grid-row-start: 7;
	grid-row-end: 13;
}
.grid-text {
  padding-left: 40px;
  padding-right: 10px;
  font-size: 22px;
  line-height: 1.6;
  text-overflow: ellipsis;
  overflow: hidden;
}
.continue-link {
  padding-left: 40px;
  padding-right: 10px;
  bottom: 10px;
  right: 10px;
  font-size: 22px;
  color: blue;
}
/*Banner Ad1 */
.banner-container17 {
  	width: 100%;
  	height: 100%;
  	background-image: url(images/banner01_thunderpeak.jpg);
  	background-size: cover;
  	background-position: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 14;
	grid-row-end: 16;
}

/* SPORTS BOX 1 of 3 */
.grid-item-18{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 17;
	grid-row-end: 21;
}
.grid-item-18 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/sportsBox.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}
.grid-item-18 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* PHOTO GALLERY BOX 2 of 3 */
.grid-item-19{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 17;
	grid-row-end: 21;
}
.grid-item-19 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/photoBox.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-19 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}

/* LOCAL NEWS BOX 3 of 3 */
.grid-item-20{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 17;
	grid-row-end: 21;
}
.grid-item-20 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/localNewsbox.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-20 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* BANNER AD 2 */
.banner-container21 {
  	width: 100%;
  	height: 100%;
  	background-image: url(images/banner11_rubys.jpg);
  	background-size: cover;
  	background-position: center;
	grid-column-start: 2;
	grid-column-end: 6;
	grid-row-start: 22;
	grid-row-end: 24;
}
/* 5 DAY FORECAST BOX 1 of 6*/
.grid-item-22{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 25;
	grid-row-end: 29;
}
.grid-item-22 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/5dayBox.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-22 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* A & E BOX 2 of 6*/
.grid-item-23{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 25;
	grid-row-end: 29;
}
.grid-item-23 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/AEBox.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-23 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* OPINION BOX 3 of 6*/
.grid-item-24{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 25;
	grid-row-end: 29;
}
.grid-item-24 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/opinionBox.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-24 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* OBITUARIES BOX 4 of 6*/
.grid-item-25{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 29;
	grid-row-end: 31;
}
.grid-item-25 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/obituariesButton.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-25 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* CLASSIFIEDS BOX 5 of 6*/
.grid-item-26{
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 29;
	grid-row-end: 31;
}
.grid-item-26 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/classifiedsButton.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-26 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/* HISTORICAL NEWS BOX 6 of 6*/
.grid-item-27{
	grid-column-start: 5;
	grid-column-end: 7;
	grid-row-start: 29;
	grid-row-end: 31;
}
.grid-item-27 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/historicalButton.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.grid-item-27 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
.footer {
	display: grid;
	border: 2px solid black;
	background-color: black;
	color: white;
  	grid-template-columns: repeat(4, minmax(200px, 1fr));
  	grid-auto-rows: minmax(50px, auto);
  	grid-gap: 30px;
  	justify-content: center;
  	align-content: center;
	margin: 0px auto;
	max-width: 1500px;
}
/*News Item*/
.footer-item-1 {
  	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}
.footer-item-1 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerNews.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-1 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*Opinion Item*/
.footer-item-2 {
  	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
}
.footer-item-2 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerOpinion.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-2 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*MONARCH DISPATCH FOOTER HEADER*/
.footer-item-3 {
	font-size: 20px;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
}
/*Sports Item*/
.footer-item-4 {
  	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.footer-item-4 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerSports.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-4 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*Weather Item*/
.footer-item-5{
  	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
}
.footer-item-5 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerWeather.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-5 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*ADDRESS and WEB FOR MONARCH DISPATCH*/
.footer-item-6 {
	font-size: 20px;
	text-align: center;
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 3;
}
/*Obituaries Item*/
.footer-item-7{
 	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 3;
	grid-row-end: 4;
}
.footer-item-7 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerObits.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-7 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*Classifieds Item*/
.footer-item-8{
 	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
}
.footer-item-8 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerClassifieds.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-8 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*PLACE AN AD Item*/
.footer-item-9{
 	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
}
.footer-item-9 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerAD.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-9 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
/*SUBMIT NEWS Item*/
.footer-item-10{
 	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 3;
	grid-row-end: 4;
}
.footer-item-10 button {
	display: block;
  	width: 100%;
 	height: 100%;
  	background-image: url('images/footerSubmitNews.jpg');
  	background-size: contain;
	background-position: center center;
	cursor: pointer;
  	font-family: inherit;
  	transition: opacity 0.2s ease-in-out; /* add transition for smooth effect */
}

.footer-item-10 button:hover {
  opacity: 0.5; /* reduce opacity on hover */
}
